@import url('https://fonts.googleapis.com/css?family=Roboto:300');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');

*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  outline: none;
}
a{
  color: #fff;
  outline: none;
  border: 0;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  font-family: Roboto;
  font-size: 1em;
  color: #fff;


  background: url('https://ucf7b589d98b0bd0612b24bd3d44.previews.dropboxusercontent.com/p/thumb/AAiijoF6RB9KTMxH8PGLQhTDtY8AW9PCm7tpyQhhB8l-SdQTTO2qCDwI9Z30sxVTdilwmCCErd4AIIGDllwqOgR71QvBTjPafThqyPkpzkgq7iCHw2w-gRvbHD42okAUl1M8ax-hlRUl4Rp0Q27UbPrC7M7z6ubcQt3dU0hzZZSLgnRfYCXXz2LqexgJXnOlBuX0HBvjA8xs4YR7L07NTKRU3daGbxsCBhU24WMnE0Cqlx_21ygGoyEEqziz-zlJ85GdTu0yHkYmYSb0rgsZ6zPvq_BjT12vzSOlmxRWhIrwUrjc8GST_y1kpqCJafwA1peRAMC21Jjtq23k_J-OhdaGZPtRZSclUUqh1A7OZ0JMwQ/p.jpeg?fv_content=true&size_mode=5'), #48dbfb;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;

  width: 100vw;
  height: 100vh;
}

/* inicio */
aside{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: fixed;
  z-index: 99;
  visibility: visible;
  top: 0;

  background: #48dbfb;
  color: #212121;

  width: 100%;
  height: 100%;
  transition: all 1s ease-out;
}
/* texto del inicio */
p{
  font-family: "Fredoka One";
  font-size: 2em;
  text-align: center;
  padding: 0 3em;
}
div{
  margin-top: 2em;
  display: flex;
}
div>button{width: auto; padding: 1em 3em;}
div>button[name=aceptar]{background: #212121;}
div>button[name=aceptar]:hover{background: #10ac84;}
div>button[name=cancelar]{border:.2em solid #212121; color: #212121;}
div>button[name=cancelar]:hover{background: #ee5253;}

/* imagen + animacion */
img{
  width: 10em;
  animation-name: bubble-anim;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes bubble-anim {
  0% {transform: scale(1); }
  20% {transform: scaleY(0.95) scaleX(1.05); }
  48% {transform: scaleY(1.1) scaleX(0.9); }
  68% {transform: scaleY(0.98) scaleX(1.02); }
  80% {transform: scaleY(1.02) scaleX(0.98); }
  97%, 100% {transform: scale(1); }
}


/* aqui comienza el juego */
section{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: rgba(0, 0, 0, 0.9);
  overflow: hidden;
  width: 100%;
}
article{
  padding: 1em 5em;
  border-bottom: .1em solid #fff;
}

form{
  display: flex;
  flex-direction: row;
  position: relative;
}
/* linea en mitad de los botones */
form::after{
  content: "";
  position: absolute;
  left: 50%;
  height: 100%;
  border: .05em solid #fff;
}

button{
  padding: 2em 2em;
  background: none;

  text-transform: uppercase;
  color: #fff;

  position: relative;
  cursor: pointer;
  width: 50%;
}

/* detalle bajo los botones de opciones */
span{
  background: radial-gradient(ellipse, white 10%, transparent 50%);
  visibility: hidden;
  opacity: 0.6;

  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, 0);

  width: 20em;
  height: 1em;
}
button:hover>span{
  visibility: visible;
}

/* pie de pagina */
footer{
  display: flex;
  align-items: center;
  justify-content: center;

  font-style: italic;
  background: #1E88E5;
  bottom: 0;
  padding: .4em 0;
  width: 100%;
}

/* etiquetas utilitarias */
.hidden{transform: scaleY(0);}

/* responsive */
@media screen and (max-width: 700px){

  article, button{padding: 1.5em 1em;}
  span{width: 15em;height: .8em;}
  p{padding: 0 1em;}

}
