@import url('https://fonts.googleapis.com/css?family=Roboto:300');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');

body{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-family: Roboto, arial;
  font-size: 1em;
  color: #fff;
  background: #222f3e;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  height: 100vh;
}

#start{
   display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  flex: 100%;
  position: fixed;
  z-index: 99;
  visibility: visible;
  top: 0;
  background: #48dbfb;
  color: #212121;
  opacity: 1;
  width: 100%;
  height: 100%;
}
.first, .second{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.first{
  font-family: "Fredoka One";
  font-size: 1.7em;
  width: 100%;
}
.second{
  margin-top: 2em;
  font-weight: bold;
  font-size: 1em;
}
.ctn{
  margin-top: .5em;
  width: 100%;
  display: block;
}
.btn{
  background: #212121;
  text-transform: uppercase;
  color: #fff;
  width: 100%;
  padding: .8em 0;
}
#cancelar{
  background: none;
  text-decoration: underline;
  color: #212121;
}
/* imagen + animacion */
.first img{
  width: 10em;
  animation-name: bubble-anim;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes bubble-anim {
  0%, 97%, 100% {transform: scale(1); }
  20% {transform: scaleY(0.95) scaleX(1.05); }
  48% {transform: scaleY(1.1) scaleX(0.9); }
  68% {transform: scaleY(0.98) scaleX(1.02); }
  80% {transform: scaleY(1.02) scaleX(0.98); }
}

#backImg{
  width: 100%;
  height: auto;
}
.aven{
  display: flex;
  flex-flow: column;
  align-items: stretch;
  justify-content: center;
  background: #341f97;
}
#mainText{
  padding: .8em .8em;
  text-align: justify;
}
.ctnO{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-top: .2em solid #fff;
  overflow: hidden;
}
#btnOpcion1, #btnOpcion2{
  width: 50%;
  padding: 1em .5em;
  background: none;
  position: relative;
}
#btnOpcion1:active::after, #btnOpcion2:active::after{
  content: "";
  background: radial-gradient(ellipse, white 10%, transparent 50%);
  opacity: 0.6;
  position: absolute;
  bottom: 8%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 12em;
  height: 1em;
}
footer{
  text-align: center;
  width: 100%;
  padding: .4em 0;
  background: #5f27cd;
}
.hide{display: none;}

@media screen and (min-width: 1000px) {
  body{
    background-size: contain;
  }
  #mainText{
    padding: 1em 5em;
  }
  #btnOpcion1, #btnOpcion2{
    padding: 1.5em;
  }
  #backImg{width: 50%;}
}
