@import url('https://fonts.googleapis.com/css?family=Roboto:300');
*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  outline: none;
}
*:focus{
  outline: none;
  border: none;
}
a{
  color: #fff;
  outline: none;
  border: 0;
}
body{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-family: Roboto;
  font-size: 1rem;
  color: #fff;
  background: url("https://uca2f889b4d1463af5c57dd101ee.previews.dropboxusercontent.com/p/thumb/AAiN3sUoP9ev4Lqa5emgS8BAFaxeInEou3P-esVJUQfC3XSGa3upds-gNC_lEDPlK3vx3EHq_gVO1QYf0GiHqQKzEooWZxh9G1hULKr2pPByfToTQCJPwsb1AhFA3_PtxQNPSIAVO6GL19FMEBEG4tbcjVdHVXRY6fU3M9YBykJN8nivJofgXy0M2crG-0F9uuBsE4Wptx_HH3hMaTHgrdojnwLaTh9YLmxbvil9RhAIDMqi_1Djae50VwnUw0kgdfFWbm0LdPvBkff2esEiUXQZ-7zkRY7TXikKhAxToYAVIuzuGehuOriAhOu5nC5afqt0g9LsN-nNMsgwUMBWZR9ktEtBBvcRrhcCAmMAVc0Liw/p.jpeg?fv_content=true&size_mode=5"), #000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  width: 100vw;
  height: 100vh;
}
article{
  padding: 1em 5em;
}
section, article{
  background: rgba(0, 0, 0, 0.9);
  position: relative;
  border-bottom: .1em solid #fff;
  width: 100%;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}
section::after{
  content: "";
  position: absolute;
  height: 100%;
  border: .05em solid #fff;
}
button{
  padding: 2em 2em;
  color: #fff;
  background: none;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
  width: 50%;
}
span{
  visibility: hidden;
  width: 20em;
  height: 1em;
  opacity: 0.6;
  background: radial-gradient(ellipse, white 10%, transparent 50%);
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, 0);
}
button:hover>span{
  visibility: visible;
}
footer{
  background: #1E88E5;
  width: 100%;
  padding: .3em 0;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  font-style: italic;
}
@media screen and (max-width: 700px){
  article, button{
    padding: 1.5em 1em;
  }
  span{
    width: 15em;
    height: .8em;
  }
}
